html {
    font-size: calc(0.85em + 1vw);
}

body {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

p {
    /*line-height: 1.6em;*/
    font-size: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

a {
    color: #212529;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 992px) {
    #mlh-trust-badge {
        display:none !important;
    }
}

#mlh-trust-badge {
    display:block;
    max-width:100px;
    min-width:60px;
    position:fixed;
    left:50px;
    top:0;
    width:10%;
    z-index:10000;
}


/*  Wave  */
.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 992px) {
    .waves {
        height: 100px;
        min-height: 40px;
    }
}

/*  End Wave  */

#main-nav {
    position: fixed;
    right: calc(1% + 0.7em);
    top: calc(1% + 0.7em);
    background-color: #212529;
    z-index: 500;
    color: white;
    transition: background-color 150ms ease, color 150ms ease, height 150ms ease, width 150ms ease, border-radius 150ms ease;
}

.nav-closed {
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}

.nav-open {
    border-radius: 10px;
    width: 50vw;
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: display 150ms ease;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.nav-icon-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 15vw;
    width: 15vw;
    line-height: 1;
    cursor: pointer;
}

.nav-icon {
    background-image: url("../assets/images/menu.svg");
    background-size: contain;
    height: 7vw;
    width: 7vw;
}

.nav-links {
    font-size: 1.3em;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 1em;
}

.nav-links a {
    margin: 0;
    line-height: 0.5em;
    color: white;
    transition: color 150ms ease;
}

.nav-links a:hover {
    margin: 0;
    line-height: 0.5em;
    color: #95a1aa;
}

nav:hover {
    background-color: black;
    color: rgb(250, 250, 250);
}

@media (min-width: 576px) {
    .nav-closed {
        height: 7vw;
        width: 7vw;
    }

    .nav-open {
        border-radius: 20px;
        width: 25vw;
    }

    .nav-icon {
        background-image: url("../assets/images/menu.svg");
        background-size: contain;
        height: 3vw;
        width: 3vw;
    }

    .nav-icon-container {
        height: 7vw;
        width: 7vw;
    }

    .nav-links {
        font-size: 0.8em;
    }
}

@media (min-width: 768px) {
    .nav-closed {
        height: 13vw;
        width: 13vw;
    }

    .nav-open {
        border-radius: 20px;
        width: 45vw;
    }

    .nav-icon {
        background-image: url("../assets/images/menu.svg");
        background-size: contain;
        height: 6vw;
        width: 6vw;
    }

    .nav-icon-container {
        height: 13vw;
        width: 13vw;
    }

    .nav-links {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .nav-closed {
        height: 1.8em;
        width: 1.8em;
    }

    .nav-open {
        border-radius: 20px;
        width: 7em;
    }

    .nav-icon {
        background-image: url("../assets/images/menu.svg");
        background-size: contain;
        height: 0.8em;
        width: 0.8em;
    }

    .nav-icon-container {
        height: 1.8em;
        width: 1.8em;
    }

    .nav-links-wrapper {
        margin-left: 0.4em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .nav-links {
        font-size: 0.5em;
    }
}

.hero-background {
    min-height: 100vh;
    background-size: cover;
    z-index: 500;
    /*background-image: url("../assets/images/_MG_1959.jpg");*/
}

.hero {
    position: absolute;
    top: 30%;
    left: 5vw;
    color: #212529;
}

@media (min-width: 768px) {
    .hero {
        left: 10%;
    }
}

#about {
    transform: translateY(3em);
    margin-top: 3em;
}

/* Info sections */
#info-section > div:nth-of-type(even) h2 {
    text-align: right;
}

.emphasis-title {
    text-align: center;
}

.row-tb-margin {
    margin-bottom: 20vh;
}

@media (min-height: 1601px) {
    #info-section > div:last-of-type {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .feature-stats {
        text-align: center;
    }

    p {
        font-size: inherit;
    }

    /*Automatically push right-aligned columns on mobile*/
    #info-section > div:nth-of-type(even) > div:nth-of-type(2) {
        order: -1 !important;
    }

    #info-section > div:nth-child(n) h2 {
        text-align: center;
    }

    .row-tb-margin {
        margin-bottom: 5vh;
    }
}

/* Carousel navigation buttons */
.carousel-next-icon, .carousel-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50% / 100% 100%;
}

.carousel-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}

.carousel-indicators li {
    background-color: #212529;
}

/* FAQ */

.faq-container {
    display: flex;
    align-items: center;
    height: 26em;
    padding: 3em 2em;
}

@media (min-width: 576px) {
    .faq-container {
        height: 20em;
    }
}

@media (min-width: 992px) {
    .faq-container {
        height: 15em;
    }
}

.faq-answer {
    margin-top: 1em;
}

/* Cool looking links */

.expand-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.expand-link:hover {
    color: #212529;
}

.expand-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    left: -0.1em;
    right: -0.1em;
    background: rgba(0, 58, 140, 0.19);
    /*transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1);*/
    transition: height 380ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.expand-link:hover::after {
    height: 45%;
    transition: height 380ms cubic-bezier(0.32, 1.04, 0.46, 1.08);
}

/* Past Projects */

.project {
    /*height: 50vh;*/
    /*padding: 30px;*/
    margin: 5px;
    /*-webkit-box-shadow: 9px 9px 20px -7px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow: 9px 9px 20px -7px rgba(0,0,0,0.5);*/
    /*box-shadow: 9px 9px 20px -7px rgba(0,0,0,0.5);*/
    /*max-width: 300px;*/
}

.project h4 {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    #second-row-projects {
        margin-top: 100px;
    }

    .project h4 {
        font-size: 0.9em;
    }
}


.project-image {
    transition: all 0.2s;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.project-image:hover {
    transform: scale(1.05);
}

/*.row:nth-of-type(1) > .project:nth-of-type(2):hover {*/
/*    transform: scale(1.1) translate(10%, -10%);*/
/*}*/

/*.row:nth-of-type(2) > .project:nth-of-type(2):hover {*/
/*    transform: scale(1.1) translate(10%, 10%);*/
/*}*/

/*.row:nth-of-type(2) > .project:nth-of-type(1):hover {*/
/*    transform: scale(1.1) translate(-10%, 10%);*/
/*}*/

/*#project1 div.project-bg {*/
/*    !*background: #ff8040;*!*/
/*    padding: 5px;*/
/*}*/

/*#project1 div.project-image {*/
/*    height: 15em;*/
/*    background-image: url("../assets/images/hydrolife.jpg");*/
/*}*/

/*#project2 div.project-image {*/
/*    height: 15em;*/
/*    background-image: url("../assets/scalables/lag++.svg");*/
/*}*/

/*#project3 div.project-image {*/
/*    height: 15em;*/
/*    background-image: url("../assets/scalables/strest.svg");*/
/*}*/


/*#project4 div.project-image {*/
/*    height: 15em;*/
/*    background-image: url("../assets/images/hydrolife.jpg");*/
/*}*/


/* Shapes */

#shapes {
    display: none;
}

@media (min-width: 1365px) {
    #shapes {
        position: absolute;
        top: 100vh;
        left: 0;
        width: 100%;
        height: auto;
        display: inherit;
    }

    #grid {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        z-index: -2;
    }

    .square-rotated {
        width: 100px;
        height: 100px;
        background: #212529;
        position: absolute;
        z-index: -1;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        border-radius: 20%;
    }

    #shape1 {
        top: 5vh;
        left: 8vw;
        transform: rotate(-45deg);
        background: linear-gradient(to right, #f2994a, #f2c94c); /* Chrome 10-25, Safari 5.1-6 */
    }

    #shape2 {
        top: 55vh;
        left: calc(2vw + 20px);
        transform: rotate(-45deg);
        width: 60px;
        height: 60px;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    }

    #shape3 {
        top: 60vh;
        left: calc(96vw - 100px);
        transform: rotate(-45deg);
        background: linear-gradient(to right, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #shape4 {
        top: 20vh;
        left: calc(92vw - 100px);
        transform: rotate(-45deg);
    }

    #shape5 {
        top: 100vh;
        left: calc(92vw - 100px);
        transform: rotate(-45deg);
        /*background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);*/
    }

    #shape6 {
        top: 90vh;
        left: 8vw;
        transform: rotate(-45deg);
        height: 120px;
        width: 120px;
        /*background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);*/
    }

    #shape7 {
        top: 130vh;
        left: 2vw;
        transform: rotate(-45deg);
        background: linear-gradient(to right, #f46b45, #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #shape8 {
        top: 150vh;
        left: calc(95vw - 100px);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: linear-gradient(to right, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    #shape9 {
        top: 180vh;
        left: 8vw;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: linear-gradient(to right, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #shape10 {
        top: 190vh;
        left: calc(92vw - 100px);
    }

    /*#shape11 {*/
    /*    top: 320vh;*/
    /*    left: 8vw;*/
    /*    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    /*}*/
    /*#shape12 {*/
    /*    top: 250vh;*/
    /*    left: 2vw;*/
    /*    !*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*!*/
    /*}*/
    /*#shape13 {*/
    /*    top: 300vh;*/
    /*    left: calc(92vw - 100px);*/
    /*    background: linear-gradient(to right, #ff4b1f, #ff9068); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*}*/
    /*#shape14 {*/
    /*    top: 240vh;*/
    /*    left: calc(92vw - 90px);*/
    /*    !*background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);*!*/
    /*    !*border-radius: 5000px;*!*/
    /*    width: 80px;*/
    /*    height: 80px;*/
    /*    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);*/
    /*}*/
    /*#shape15 {*/
    /*    top: 375vh;*/
    /*}*/
    #shapes > div.square-rotated {
        transform: rotate(-45deg);
    }
}


footer {
    /*background-color: #fffdfb;*/
    background-color: #e1edff;
}

.footer-wrapper {
    text-align: left;
    padding: 1em 0;
}

.footer-desktop {
    display: none;
}

.footer-copyright {
    margin: 0;
    font-size: 0.6em;
}

.footer-mobile {
    height: 30vh;
    min-height: 250px;
    text-align: center;
}

.footer-mobile a {
    margin: 0.4em 0.5em;
}

.footer-links {
    list-style-type: none;
    margin-bottom: 0;
}

.footer-links a {
    margin: 0 0.2em;
    font-size: 0.5em;
}

@media (min-width: 768px) {
    .footer-desktop {
        display: flex;
        height: 40vh;
    }

    .footer-mobile {
        display: none;
    }

    .footer-copyright {
        margin: 0;
        font-size: 0.5em;
    }
}

@media (min-width: 1200px) {
    .footer-desktop {
        display: flex;
        height: 55vh;
    }

}

.sponsors {
    text-align: center;
    padding-top: 3em;
    /*padding-bottom: 3em;*/
    /*background-color: rgb(247, 247, 247);*/
}

/* Sponsorship */
.sponsor-obj {
    padding-left: 10px;
    padding-right: 10px;
}

.partners {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    /*background-color: rgb(247, 247, 247);*/
}

.co-host img {
    max-height: 600px;
    width: 1000px;
    /*max-width: 95%;*/
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gold img {
    max-height: 400px;
    max-width: 600px;
    /*max-width: 95%;*/
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.silver img {
    max-height: 400px;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partner img {
    max-height: 300px;
    width: 300px;
    max-width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bronze img {
    max-height: 125px;
    max-width: 275px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .silver img {
        max-width: 80vw;
    }

    .gold img {
        max-width: 85vw;
    }

    .co-host img {
        max-width: 85vw;
    }
}

/* Zoom */
.zoom {
    transition: transform .2s;
    transform: scale(1);
}

.zoom:hover {
    transform: scale(1.05);
}

/* Standard Buttons */
.button {
    min-width: 150px;

    border-radius: 2em;
    padding: 10px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.button:active {
    background-color: black;
    color: white;
    border-color: black;
}

.button {
    font-size: 1em;
    min-width: 250px !important;

    margin: 5px;
}

.button-white {
    font-size: 1.5em;
    min-width: 220px !important;
    height: 60px;

    border-radius: 2em;
    padding: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: background-color 0.3s;
}

.button-white:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.button-white:active {
    background-color: white;
    color: black;
    border-color: white;
}

.button-white:disabled {
    background-color: rgba(200, 200, 200, 0.2);
    color: rgba(255, 255, 255, 0.6) !important;
}

/* STREAMS SECTION */
/*.stream-title h1 {*/
/*    text-align: center;*/
/*}*/

#stream-row > div {
    border-right: 2px solid rgb(200, 200, 200);
}

#stream-row > div:last-child {
    border-right: none;
}

.section-heading {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.profile-pic {
    border-radius: 50%;
    border: 1px solid rgb(200,200,200);
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile {
    text-align: center;
}

.profile-sub {
    font-size: 0.8em;
    /*padding: 0 5px 0 5px;*/
}

.profile:last-child {
    /*padding-right: 0;*/
}

.profile-flex {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
}

.profile-flex::after {
    /*content: "";*/
    /*flex: auto;*/
}

