@font-face {
    font-family: 'Avenir Next';
    src: url("../assets/fonts/ave_next_ssv/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url("../assets/fonts/ave_next_ssv/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: 'San Francisco';
    src: url("../assets/fonts/SFPro/SF-Pro-Display-Regular.otf");
}

@font-face {
    font-family: 'San Francisco Bold';
    src: url("../assets/fonts/SFPro/SF-Pro-Display-Bold.otf");
}

html {
    font-size: calc(0.85em + 1vw);
}

body {
    font-family: 'San Francisco', sans-serif;
}

p {
    /*line-height: 1.6em;*/
    font-size: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'San Francisco Bold', sans-serif;
    font-weight: bold;
}

.hero-background {
    min-height: 100vh;
    background: rgb(144, 144, 145);
    background: linear-gradient(180deg, rgba(144, 144, 145, 1) 0%, rgba(235, 153, 117, 1) 100%);
}

.hero {

    position: absolute;
    top: 55%;
    left: 10%;
    color: white;
}

.hero h1 {
    font-weight: 400;
    /*font-size: 4em;*/
}

h2 {
    font-weight: 300;
}


/* Info sections */
.feature-text {

}

.emphasis-title {
    text-align: center;
}

.row-tb-margin {
    margin-bottom: 20vh;
}

@media (max-width: 800px) {
    .feature-stats {
        text-align: center;
    }
}