@font-face {
    font-family: ADAMCG;
    src: url('../assets/fonts/ADAMCGPRO.otf');
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../assets/fonts/ave_next_ssv/AvenirNextLTPro-Bold.otf')
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../assets/fonts/ave_next_ssv/AvenirNextLTPro-Regular.otf')
}
body {
    min-height: 100vh;
    font-family: 'Avenir Next', sans-serif;
}
.hero {
    position: absolute;
    top: 30%;
    left: 10%;
    /*letter-spacing: -0.1em;*/
    /*line-height: 5em;*/
}

.hero h1{
    font-weight: bold;
    font-size: 4em;
    font-family: 'Avenir Next Bold', sans-serif;

}

.logo {
    padding: 1.5em 1em 1em 2em;
    font-size: 16pt;
}

.logo img {
    margin-right: 0.5em;
}