/*body {*/
/*    !* feel free to change height *!*/
/*    height: 5000px;*/
/*    background: linear-gradient(*/
/*            to bottom,*/
/*            orange,*/
/*            darkblue*/
/*    );*/
/*}*/

/*h1 {*/
/*    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
/*    font-weight: 300;*/
/*    color: white;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    font-size: 22px;*/
/*    letter-spacing: 5px;*/
/*    padding: 25px 15px;*/
/*    text-shadow: 1px 1px 1px #333;*/
/*}*/

/*.logo-svg {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    margin: -75px 0 0 -75px;*/
/*}*/

/*#back {*/
/*    !*display: none;*!*/
/*    z-index: -2;*/
/*}*/

html {
    font-size: calc(0.85rem + 1vw);
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

a {
    color: #212529;
}

a:hover {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    background-color: #ededed;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(169,169,169,0.8);
    outline: 1px solid slategrey;
    border-radius: 0.5em;
}

/* Cool looking links */

.expand-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.expand-link:hover {
    color: #212529;
}

.expand-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    left: -0.1em;
    right: -0.1em;
    background: rgba(0, 58, 140, 0.19);
    /*transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1);*/
    transition: height 380ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.expand-link:hover::after {
    height: 45%;
    transition: height 380ms cubic-bezier(0.32, 1.04, 0.46, 1.08);
}

/* Navbar */

.live-nav {
    padding-top: 0.5em;
}

.live-nav .brand {
    position: relative;
    text-align: center;
}

@media (min-width: 768px) {
    .live-nav .brand {
        margin-left: 1em;
        text-align: left;
    }
}

/* Countdown */
#date-time{
    margin-bottom: 0;
    font-size: 0.7rem;
}

/* Activities */
#activities {
    font-size: 0.5rem;
}

.activity-card h6 {
    font-size: 0.7rem;
}

/* Footer */
footer {
    /*background-color: #fffdfb;*/
    background-color: #e1edff;
}

.footer-wrapper {
    text-align: left;
    padding: 1em 0;
}

.footer-desktop {
    display: none;
}

.footer-copyright {
    margin: 0;
    font-size: 0.6em;
}

.footer-mobile {
    height: 30vh;
    min-height: 250px;
    text-align: center;
}

.footer-mobile a {
    margin: 0.4em 0.5em;
}

.footer-links {
    list-style-type: none;
    margin-bottom: 0;
}

.footer-links a {
    margin: 0 0.2em;
    font-size: 0.5em;
}

@media (min-width: 768px) {
    .footer-desktop {
        display: flex;
        height: 40vh;
    }

    .footer-mobile {
        display: none;
    }

    .footer-copyright {
        margin: 0;
        font-size: 0.5em;
    }
}

@media (min-width: 1200px) {
    .footer-desktop {
        display: flex;
        height: 55vh;
    }

}

/* Schedule */

#schedule {
    font-size: initial;
    line-height: initial;
}

.time {
    transform: translate(50%, -45px);
    width: 200px;
    text-align: center;
    font-size: 14px;
}
.time-heading {
    transform: translate(50%, -65px);
    width: 200px;
    text-align: center;
    font-size: 14px;
    position: absolute;
}
.schedule-label {
    height: 2px;
    position: absolute;
    text-align: left;
    color: black;
    padding: 0;
    margin: 0;
    display: grid;
}
#label-container {
    height: 0;
}
.inner-label {
    position: relative;
    transform: translateY(-58px);
    padding-left: 1px;
    margin: 0;
    white-space: nowrap;
}
.label-caption {
    padding: 0;
    transform: translateY(12px);
    margin-bottom: 16px;
    font-size: 1em;
}
.label-description {
    font-size: 13px;
}
.schedule-outer {
    padding-top: 20px;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;
}

.schedule-outer::-webkit-scrollbar {
    height: 0.5em;
}

.schedule-outer::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    background-color: #ededed;
}

.schedule-outer::-webkit-scrollbar-thumb {
    background-color: rgba(169,169,169,0.8);
    outline: 1px solid slategrey;
    border-radius: 0.5em;
}

.schedule-inner {
    padding: 30px 0 0;
    width: 100%;
    min-height: 500px;
    height: 90%;
    white-space: nowrap;
    -webkit-overflow-scrolling:touch;
    font-size: 0;
}
.schedule-obj {
    width: 200px;
    min-height: 500px;
    height: 100%;
    border-right-color: #ededed;
    border-right-style: solid;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
}